<div id="content">
<div id='navbar'>
    <%= render 'navbar' %>
    <%= link_to image_tag("like-icon.png", { id: "nav-home-btn-img", class: "exp-img", style: "padding-bottom:0.05em;"}) + tag.p(" like", class:"btn-txt", style: "padding-left:0.5em;"), { action: :like_post, :id => @post.id }, { method: :post, disabled: HasUserLiked(), class: "nav-home-btn exp", title: "#{@post.likes.count} likes", id: "exp", style: HasUserLiked() ? "background-color:#344feb;" : ""} %>
    <%= link_to image_tag("arrow-r.png", {id: "nav-home-btn-img", class: "exp-img"}) + tag.p(" next", class:"btn-txt", style: "padding-left:0.25em;"), { action: :find_post }, {method: :get, class:"nav-home-btn exp", title: "Next post", id: "exp"}%>
    <% if @user.admin %>
        <%= render 'admin_bar', user: @user, post: @post, links: false, modview: false %>
    <% end %>
</div>
<div id="grid">
    <div id="post">
        <h1 id="post-content"><%= @post.content.html_safe %></h1>
        <% if @post.image.attached? %>
          <%= image_tag(@post.image, {id: "post_img"}) %>
        <% end %>
    </div>
</div>
</div>


