<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Void</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'title-icon.png' %>

    <%= javascript_pack_tag 'index' %>

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://thevoidrails.herokuapp.com/">
    <meta property="og:title" content="The Void">
    <meta property="og:description" content="Social media, but everything you see is random">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
